#content
{
    width: 330pt;
    border-radius: 35px;    
    background-color: #FFFFFF;
    border: 5px solid #909090;
    margin: 40px auto 40px auto;
    padding: 40px 70px 70px 40px;
}

label
{
    display: inline-block;
    white-space: nowrap;
    font-family: sans-serif;
    color: #444444;
    font-size: 11pt;
    vertical-align: middle;
}
input
{
    vertical-align: middle;
    display: inline-block;
}
legend
{
    font-family: sans-serif;
    font-size: 13pt;
    color: #404040;
}

fieldset
{
    margin: 8pt;
    border-radius: 5px;
    border: 3px solid #cccccc;
}

fieldset a
{
    font-size: 12pt;
}


fieldset.rootlevel
{
}

.setting
{
    margin: 7px 0 3px 0;
}

.setting label
{
    vertical-align: baseline;
}
.search-engine.setting
{
    display: inline-block;
    width: 9.5em;
}
.search-engine.setting.left
{
    float: left;
}
.search-engine.setting.right
{
    float: right;
}

.setting img
{
    width: 20px;
    vertical-align: top;
    margin-right: 4pt;
}

body
{
    background-color: #3D3D3D;
    margin: 0;
    padding: 0;
}

#header
{
    font-size: 25px;
    color: #333333;
    font-family: arial, sans-serif;
    display: block;
    text-align: center;
    margin-top: 0;
}    

#extension-logo
{
    vertical-align: middle;
    margin-right: 3px;
    height: 40px;
}

#endless-pages-blacklist-input
{
    width: 100%;
    border: 3px solid #CCC;
}

label.new
{
    color: red;
}
